{% extends 'leave/base.html' %}
{% block content %}
    <div class="jumbotron">
        <h1>Dashboard<h1>

        <h2>{{ emp.first_name}} {{emp.last_name}}</h2>

        <h3>Employee since {{emp.start_date}}</h3>
           Today' date: <p>{{ today }}</p>

    </div>




    {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
    {% endif %}

    <h3>Hi {{ emp.username }}</h3>
    <p>{{ emp.leave_days_remaining }} leave days remaining  Currently</p>
    <p>{{ emp.future_remaining_leave_days}} leave days remaining  if all requested future leaves are taken</p>
    <a  class="label label-default"  href="leave">REQUEST NEW LEAVE</a>

    <div class="page-header">
        <h1>Leave Requests</h1>
    </div>

    {% if leave_requests %}
        <div class="row">
            <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Number of days</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for request in leave_requests %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ request.start_date }}</td>
                    <td>{{ request.end_date }}</td>
                      <td>{{ request.days_of_leave }}</td>
                    <td>{{ request.status }}</td>
                  </tr>
                  {% endfor %}

                </tbody>
            </table>
        </div>
    {% endif %}








{% endblock %}