{% extends 'leave/base.html' %}
{% block content %}
    LEAVE DASHBOARD

    {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
    {% endif %}

    {% if leave_requests %}
        <ul class="requests">
            {% for request in leave_requests  %}
                <li >
                {{request.start_date  }}
                </li>
            {% endfor %}

        </ul>
    {% endif %}

    {{ username }}
    <p>{{ first_name}} {{last_name}}</p>
{% endblock %}