{% extends 'leave/base.html' %}
{% block content %}
    <h2>LEAVE DASHBOARD<h2>

    {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
    {% endif %}

    <h3>Hi {{ username }}</h3>
    <p>{{ first_name}} {{last_name}}</p>

     <a href="leave">REQUEST A NEW LEAVE</a>

    {% if leave_requests %}
        <ul class="requests">
            {% for request in leave_requests  %}
                <li >
                {{request.start_date  }}
                </li>
            {% endfor %}

        </ul>
    {% endif %}




{% endblock %}