{% extends 'leave/base.html' %}

{% block content %}

    {% if form.errors %}
            <p>{{ form.errors }}</p>
    {% endif %}

    {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
    {% endif %}


    <form method="post" action="{% url 'logleave' %}">
        {% csrf_token %}
        Start Date:{{ form.start_date }}&nbsp;&nbsp; End Date:{{ form.end_date }}<br/>
        <button type="submit">Request Leave</button>
    </form>

{% endblock %}
