{% extends 'leave/base.html' %}

{% block content %}


    {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
    {% endif %}


    <form method="post" action="{% url 'logleave' %}">
        {% csrf_token %}
        Start Date:{{ form.startdate }}&nbsp;&nbsp; End Date:{{ form.enddate }}<br/>
        <button type="submit">Request Leave</button>
    </form>

    <a href="/">BACK TO DASHBOARD</a>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker();
        });
    </script>
{% endblock %}