{% extends 'leave/base.html' %}



{% block content %}
    <div class="jumbotron">
        <h1>Login</h1>
            {% if form.errors %}
                <p>{{ form.errors }}Your username and password didn't match. Please try again.</p>
            {% endif %}



            {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <div class="alert alert-{{message.tags}}" role="alert">
                        <li class="">{{ message }}</li>
                      </div>

                    {% endfor %}
                  </ul>
            {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <p>
                        Username : {{ form.username }}

                    </p>
                    <p>
                       password:{{ form.password }}
                    </p>
                    <button type="submit" class="btn btn-lg btn-primary">Login</button>

                </form>
    <a  class="label label-default"  href="/newemployee">CREATE NEW EMPLOYEE (FOR HR ADMIN)</a>
    </div>


{% endblock %}



