{% extends 'leave/base.html' %}

{% block content %}
    <h1>HR Admin Use Only </h1>


    {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
    {% endif %}



    <form method="post" action="{% url 'createemployee' %}">
        {% csrf_token %}
        <p>
            Username : {{ form.username }}
        </p>
        <p>
            Firstname : {{ form.firstname }}
        </p>

        <p>
            Lastname : {{ form.lastname }}
        </p>
        <p>
            Email : {{ form.email }}
        </p>
        <p>
            Password : {{ form.password }}
        </p>
        <p>
            Start Date : {{ form.startdate }}
        </p>
        <button type="submit">Create Employee</button>
    </form>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker();
        });
    </script>
{% endblock %}